@import "tailwindcss";


@keyframes vibrate {
  0% { transform: translateX(0); }
  20% { transform: translateX(-4px); }
  40% { transform: translateX(4px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

.vibrate {
  animation: vibrate 0.3s ease-in-out;
}

@keyframes rotate360 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg)}
}

.rotate{
  animation: rotate360 1s infinite linear;
}